<% reviewers = reviewers_dto.reviewers %>

<% if reviewers.empty? %>
  <p class="h4 fw-light text-sm-center p-2 text-secondary">🥱 No reviewers for the
    <%= params[:group_path] %>
    group 😴</p>
<% else %>
  <table class="table table-hover mb-0">
    <caption class="mx-2">
      <div class="d-flex justify-content-between align-items-baseline">
        <div></div>

        <%= render "shared/request_info",
        request_duration: request_duration,
        updated_at: updated_at,
        next_update_at: next_update_at %>
      </div>
    </caption>

    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Status</th>
        <th scope="col">Message</th>
        <th scope="col" class="text-end">Local Hour</th>
        <th scope="col" class="text-end">Requested MR reviews</th>
        <th scope="col" class="text-end">Assigned MRs</th>
        <%= tag.th "Score", scope: "col", class: "text-end" if Rails.env.development? %>
      </tr>
    </thead>

    <tbody>
      <% reviewers.each do |reviewer| %>
        <%= tag.tr(style: "opacity: #{reviewer.opacity} !important;") do %>
          <!-- Username -->
          <th scope="row">
            <nobr data-controller="clipboard">
              <%= render "shared/user_badge",
              user: reviewer,
              title: group_reviewer_help_title(reviewer),
              size: 24, show_emojis: false %>

              <%= render "shared/clipboard_button" %>
            </nobr>
          </th>
          <td>
            <%= render "shared/abbr_with_title",
              content: user_emojis(reviewer.status),
              title: reviewer.status&.emoji -%>

            <% country_flag_classes = user_country_flag_classes(reviewer) %>
            <%= tag.i(class: country_flag_classes) if country_flag_classes %>
          </td>
          <!-- Message -->
          <td style="max-width: 30em">
            <%= emojify(reviewer.status&.message) %>
          </td>
          <!-- Local Hour -->
          <%= tag.td class: (["text-end", reviewer.inWorkingHours ? nil : "text-secondary"]).compact do %>
            <%= tag.i(class: %W[fa-solid fa-moon]) unless reviewer.inWorkingHours %>
            <%= tag.span reviewer.timezone&.time_with_offset(Time.now.utc)&.to_fs(:time) %>
          <% end %>
          <!-- Requested MR reviews -->
          <td class="text-end">
            <nobr>
              <%= tag.span reviewer.activeReviews.count,
                           class: reviewer.bootstrapClass.fetch(:requested_reviews_text, []) + %w[me-1] %>
              <%= link_to make_full_url("/dashboard/merge_requests/search?reviewer_username=#{reviewer.username}") do %>
                <i class="bi bi-box-arrow-up-right small"></i>
              <% end %>
            </nobr>
          </td>
          <!-- Assigned MRs -->
          <td class="text-end">
            <% load_ok = reviewer.assignedMergeRequests.count < 3 %>
            <nobr>
              <%= tag.span reviewer.assignedMergeRequests.count,
                      class: load_ok ? "text-success" : "text-warning" %>
              <%= link_to make_full_url("/dashboard/merge_requests/search?assignee_username=#{reviewer.username}") do %>
                <i class="bi bi-box-arrow-up-right small"></i>
              <% end %>
            </nobr>
          </td>
          <% if Rails.env.development? %>
            <td class="text-end text-secondary" %>
              <%= tag.span reviewers_dto.send(:reviewer_score, reviewer) %>
            </td>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
