<%= render "branch_ref", branch_name: source_branch %>

<% if !target_branch.in?(%w[master main]) %>
  <div class="d-flex d-none d-md-flex align-items-center opacity-75">
    <%= render "dependent_symbol" -%>
    <% open_mrs = @dto.open_merge_requests %>
    <% if open_mrs && open_mrs.items.any? { |other_mr| other_mr.sourceBranch == target_branch && other_mr.autoMergeEnabled } %>
      <%= render "shared/abbr_with_title", content: "🚀", title: "Auto-merge is enabled" -%>
      &nbsp;
    <% end %>
    <%= render "branch_ref", branch_name: target_branch %>

    <% popover_content = {
      "Rebase onto target branch:" => "git switch #{source_branch} && \\<br/>git rebase --interactive #{target_branch} && \\<br/>git switch -",
      "Push all branches:" => "git push --force-with-lease --force-if-includes --no-verify origin \\<br/>#{source_branch} \\<br/>#{target_branch}",
    } %>

    <%= tag.span(
        data: {
          bs_toggle: "popover",
          bs_html: "true",
          bs_title: "Useful commands",
          bs_custom_class: "x-wide-popover",
          bs_content: tag.ul do
            safe_join(popover_content.map do |name, snippet|
              tag.li(class: "mb-2", data: { controller: "clipboard" }) do
                safe_join([
                  tag.div(name),
                  tag.div(class: %w[border border-dark-subtle rounded px-2 mt-1 py-1 position-relative]) do
                    safe_join([
                      tag.code(snippet, escape: false, data: { clipboard_target: "source" }),
                      render("shared/clipboard_button", class: %w[position-absolute top-0 end-0 mt-1])
                    ])
                  end
                ])
              end
            end)
          end
        },
      ) do %>
      <%= tag.i(class: %w[small bi bi-info-circle]) %>
    <% end %>
  </div>
<% end %>
