<%= render "branch_ref", branch_name: source_branch %>

<% if !target_branch.in?(%w[master main]) %>
  <div class="d-flex d-none d-md-flex align-items-center opacity-75">
    <%= render "dependent_symbol" -%>
    <% open_mrs = @dto.open_merge_requests %>
    <% if open_mrs && open_mrs.items.any? { |other_mr| other_mr.sourceBranch == target_branch && other_mr.autoMergeEnabled } %>
      <%= render "shared/abbr_with_title", content: "🚀", title: "Auto-merge is enabled" -%>
      &nbsp;
    <% end %>
    <%= render "branch_ref", branch_name: target_branch %>

    <%= tag.span(
        data: {
          bs_toggle: "popover",
          bs_html: "true",
          bs_title: "Useful commands",
          bs_custom_class: "x-wide-popover",
          bs_content: tag.ul do
            tag.li(data: { controller: "clipboard" }) do
              [
                tag.span("Rebase onto target branch:"),
                tag.br,
                tag.code("git switch #{source_branch} && \\<br/>git rebase --interactive #{target_branch}", escape: false, data: { clipboard_target: "source" }),
                render("shared/clipboard_button")
              ].join
            end
          end
        },
      ) do %>
      <%= tag.i(class: %w[small bi bi-info-circle]) %>
    <% end %>
  </div>
<% end %>
