<%= render "link",
title: "\##{issue.iid}",
web_url: issue.webUrl,
data: {
  bs_toggle: "tooltip",
  bs_html: "true",
  bs_custom_class: "x-wide-tooltip",
  bs_title: issue.titleHtml,
} %>

<% if issue.milestone %>
  <%= tag.nobr class: "small" do %>
    <%= tag.i(class: %w[small bi bi-diamond]) %>
    <%= tag.span issue.milestone.title %>
  <% end %>
<% end %>

<div>
  <%= render partial: "gitlab_label",
  spacer_template: "space",
  collection: issue.contextualLabels,
  as: :label %>
</div>
