<table class="table table-hover table-sm" style="cursor: pointer;">
  <caption class="ms-1"><%= pluralize(merge_requests.count, "merged merge request") %>
    with open issues or merged in the last 2 days, updated
    <%= render "relative_timestamp", timestamp: @updated_at %>
  </caption>

  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Created</th>
      <th scope="col">Merged</th>
      <th scope="col">Updated</th>
      <th scope="col">Workflow Labels</th>
      <th scope="col">Title</th>
      <th scope="col">Associated Issue</th>
    </tr>
  </thead>

  <tbody>
    <% merge_requests.each do |mr| %>
      <%= tag.tr(class: "table-#{mr.bootstrapClass[:row]}") do %>
        <!-- MR ID -->
        <th scope="row">
          <%= render "link", title: mr.reference, web_url: mr.webUrl %>
        </th>
        <!-- Created at -->
        <td>
          <%= render "relative_timestamp",
          timestamp: mr.createdAt,
          most_significant_only: true %>
        </td>
        <!-- Merged at -->
        <td>
          <%= render "relative_timestamp", timestamp: mr.mergedAt, most_significant_only: true %>
          by
          <br/><%= render "user_badge", user: mr.mergeUser %>
        </td>
        <!-- Updated at -->
        <td>
          <%= render "relative_timestamp",
          timestamp: mr.updatedAt,
          most_significant_only: true %>
        </td>
        <!-- Workflow Labels -->
        <td>
          <%= render partial: "gitlab_label", collection: mr.labels.nodes, as: :label %>
        </td>
        <!-- Title -->
        <td>
          <%= render partial: "user_avatar", collection: mr.assignees.nodes, as: :user %>
          <%= link_to mr.titleHtml, mr.webUrl, target: "_blank" %>

          <br/>

          <%= render "branch_ref",
          source_branch: mr.sourceBranch,
          target_branch: mr.targetBranch %>
        </td>
        <!-- Associated Issue -->
        <td>
          <% if mr.issue %>
            <%= render "link",
            title: "\##{mr.issue.iid}",
            web_url: mr.issue.webUrl,
            data: {
              bs_toggle: "tooltip",
              bs_html: "true",
              bs_custom_class: "x-wide-tooltip",
              bs_title: mr.issue.titleHtml,
            } %>
          <% end %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>
