<% merge_requests = merge_requests_dto.items %>

<table class="table table-hover mb-0">
  <caption class="ms-1">
    <div class="d-flex justify-content-between align-items-end">
      <div>
        <div class="lead">
          <%= pluralize(merge_requests.count, "merge request") %>
          merged in the last week.
        </div>

        <% if merge_requests.count.positive? %>
          <div>Merged on average after
            <%= distance_of_time_in_words(
              ActiveSupport::Duration.build(
                merge_requests.sum { |mr| Time.now - mr.createdAt } / merge_requests.count,
              ),
            ) %>.</div>
        <% end %>
      </div>

      <% if merged_merge_requests_count.positive? %>
        <div class="flex-row-reverse">
          A total of
          <%= pluralize(merged_merge_requests_count, "merge request") %>
          merged since
          <%= local_relative_time(first_merged_merge_requests_timestamp, type: "time-or-date") %>.
        </div>
      <% end %>
    </div>
  </caption>

  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Created</th>
      <th scope="col">Merged&nbsp;↓</th>
      <th scope="col">Updated</th>
      <th scope="col">Workflow Labels</th>
      <th scope="col">Title</th>
      <th scope="col">Associated Issue</th>
    </tr>
  </thead>

  <tbody>
    <% merge_requests.each do |mr| %>
      <%= tag.tr style: "cursor: pointer;" do %>
        <!-- MR ID -->
        <th scope="row">
          <%= render "mr_reference", merge_request: mr %>
        </th>
        <!-- Created at -->
        <td>
          <%= render "shared/relative_timestamp",
          timestamp: mr.createdAt,
          most_significant_only: true %>
        </td>
        <!-- Merged at -->
        <td>
          <%= render "shared/relative_timestamp",
          timestamp: mr.mergedAt,
          most_significant_only: true %>
          by
          <br/><%= render "user_badge", user: mr.mergeUser %>
        </td>
        <!-- Updated at -->
        <td>
          <%= render "shared/relative_timestamp",
          timestamp: mr.updatedAt,
          most_significant_only: true %>
        </td>
        <!-- Workflow Labels -->
        <td>
          <%= render partial: "gitlab_label",
          spacer_template: "space",
          collection: mr.contextualLabels,
          as: :label %>
        </td>
        <!-- Title -->
        <td>
          <%= render partial: "user_avatar", collection: mr.assignees.nodes, as: :user %>
          <%= link_to mr.titleHtml, mr.webUrl, target: "_blank" %>

          <div style="max-width: 26em">
            <%= render "branch_relation",
            source_branch: mr.sourceBranch,
            target_branch: mr.targetBranch %>
          </div>
        </td>
        <!-- Associated Issue -->
        <td>
          <%= render("issue_link", issue: mr.issue) if mr.issue %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>
