<% merge_requests = local_assigns[:merge_requests_dto].items %>
<% merged_merge_requests_tttm = local_assigns[:merged_merge_requests_tttm] %>
<% merged_merge_requests_count = local_assigns[:merged_merge_requests_count] %>
<% first_merged_merge_requests_timestamp =
  local_assigns[:first_merged_merge_requests_timestamp] %>

<% avg_time_to_merge =
  (
    if merge_requests.count.positive?
      ActiveSupport::Duration.build(
        merge_requests.sum { |mr| mr.mergedAt - mr.createdAt } /
          merge_requests.count,
      )
    else
      0
    end
  ) %>
<% overall_avg_time_to_merge =
  if merged_merge_requests_tttm
    ActiveSupport::Duration.build(
      merged_merge_requests_tttm / merged_merge_requests_count,
    )
  else
    ActiveSupport::Duration.years(1000)
  end %>
<% since_first_mr =
  ActiveSupport::Duration.build(
    (
      if first_merged_merge_requests_timestamp
        Time.current - first_merged_merge_requests_timestamp
      else
        0
      end
    ),
  ) %>
<% monthly_merge_rate =
  (
    if since_first_mr.positive?
      (merged_merge_requests_count.to_f / since_first_mr.in_months.to_f).round
    else
      0
    end
  ) %>

<div class="d-flex justify-content-between align-items-end mx-2 mt-2">
  <div>
    <div class="lead">
      <% merge_rate_ok = merge_requests.count / 1.week.in_days * 30 >= monthly_merge_rate %>
      <%= tag.span(
        class: merge_rate_ok ? "text-success" : "text-warning",
        data: {
          bs_toggle: "popover",
          bs_html: "true",
          bs_title: "Projected monthly merge rate against historical average",
          bs_content:
            "The projected monthly merge rate of #{(merge_requests.count / 1.week.in_days * 30).round} " \
              "is #{merge_rate_ok ? "above" : "below"} the historical average of #{pluralize(monthly_merge_rate, "merge request")} " \
              "merged per month.<br/>See #{merged_mr_rates_handbook_url}."
        },
      ) do %>
        <%= pluralize(number_with_delimiter(merge_requests.count), "merge request") %>
        <%= tag.i(class: %w[small bi bi-info-circle]) %>
        <%= render("trend_indicator", trend: merge_rate_ok ? :up : :down) %>
      <% end %>
      merged in the last week
    </div>

    <% if merge_requests.count.positive? %>
      <% merge_time_ok = avg_time_to_merge <= overall_avg_time_to_merge %>
      <div>Merged on average after
        <%= tag.span(
          class: merge_time_ok ? "text-success" : "text-warning",
          data: {
            bs_toggle: "popover",
            bs_html: "true",
            bs_title: "Weekly MTTM against historical average",
            bs_content:
              "Merged requests this week took #{distance_of_time_in_words(avg_time_to_merge)} to be merged, " \
              "#{merge_time_ok ? "at or below" : "above"} the historical average of #{distance_of_time_in_words(overall_avg_time_to_merge)}." \
              "<br/>See #{mttm_handbook_url}.",
          },
        ) do %>
          <%= distance_of_time_in_words(avg_time_to_merge) %>
          <%= render("info_symbol") %>
          <%= render("trend_indicator", trend: merge_rate_ok ? :down : :up) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if merged_merge_requests_count.positive? %>
    <div class="flex-row-reverse">
      <div>
        A total of
        <%= pluralize(number_with_delimiter(merged_merge_requests_count), "merge request") -%>
        merged since
        <%= local_relative_time(first_merged_merge_requests_timestamp, type: "time-or-date") %>,
        <% if monthly_merge_rate < 1.0 %>
          <span class="text-danger">
            <%= (since_first_mr.in_months.to_f / merged_merge_requests_count.to_f).round(1) -%>
            months per MR
          </span>
        <% else %>
          <% merge_rate_ok = monthly_merge_rate >= recommended_monthly_merge_rate %>

          <%= tag.span(
            class: merge_rate_ok ? "text-success" : "text-warning",
            data: {
              bs_toggle: "popover",
              bs_html: "true",
              bs_title: "Monthly Merge Request Rate",
              bs_content:
                "The monthly merge rate of #{monthly_merge_rate} is #{merge_rate_ok ? "above" : "below"} the " \
                "recommended baseline of #{pluralize(recommended_monthly_merge_rate, "merge request")} per month." \
                "<br/>See #{merged_mr_rates_handbook_url}."
            },
          ) do %>
            <%= monthly_merge_rate.round -%>
            per month
            <%= render("info_symbol") %>
          <% end %>
        <% end %>
      </div>
      <% if merged_merge_requests_tttm %>
        <div class="text-end">
          <% merge_time_ok = overall_avg_time_to_merge < mr_age_limit %>
          Merged on average after
          <%= tag.span(
            class: merge_time_ok ? "text-success" : "text-warning",
            data: {
              bs_toggle: "popover",
              bs_html: "true",
              bs_title: "Historical Mean Time to Merge (MTTM)",
              bs_content:
              (merge_time_ok ?
                "Merged merge requests historically have taken less than #{distance_of_time_in_words(mr_age_limit)} to merge." :
                "Merged merge requests historically have taken over #{distance_of_time_in_words(mr_age_limit)} to merge.") +
              "<br/>See #{mttm_handbook_url}.",
            },
          ) do %>
            <%= distance_of_time_in_words(overall_avg_time_to_merge) %>
            <%= render("info_symbol") %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% if merge_requests.any? %>
  <% any_milestones = merge_requests.any? { |mr| mr.milestone&.title&.present? } %>

  <table class="table table-hover mb-0">
    <caption>
      <div class="d-flex justify-content-between align-items-baseline">
        <div></div>
        <%= render "shared/request_info",
        request_duration: request_duration,
        updated_at: updated_at,
        next_update_at: next_update_at %>
      </div>
    </caption>

    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Merged&nbsp;↓</th>
        <th scope="col">Merged After</th>
        <th scope="col">Updated</th>
        <th scope="col">Workflow Labels</th>
        <th scope="col">Title</th>
        <% if any_milestones %>
          <th scope="col" class="text-end">Milestone</th>
        <% end %>
        <th scope="col">
          Issue
          <%= render("info_symbol",
            data: {
              bs_toggle: "popover",
              bs_title: "Issue reference",
              bs_content: "Issue number is extracted from branch name, if present.",
            },
          ) %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% merge_requests.each do |mr| %>
        <%= tag.tr do %>
          <!-- MR ID -->
          <th scope="row">
            <%= render "mr_relation", merge_request: mr %>
          </th>
          <!-- Merged at -->
          <td>
            <%= render "shared/relative_timestamp",
            timestamp: mr.mergedAt,
            most_significant_only: true -%>
            by
            <br/>
            <%= render "shared/user_badge",
            user: mr.mergeUser,
            title: user_help_title(mr.mergeUser),
            bg_class: "bg-review-approved",
            text_class: "text-review-approved" %>
          </td>
          <!-- Merged After -->
          <td>
            <%= tag.span(
              distance_of_time_in_words(mr.mergedAt - mr.createdAt),
              class:
                ("text-danger" if mr.mergedAt - mr.createdAt > overall_avg_time_to_merge),
              data: {
                bs_toggle: "tooltip",
                bs_custom_class: "wide-tooltip",
                bs_title: "#{mr.createdAt.utc.to_formatted_s(:long)} UTC",
              },
            ) %>
          </td>
          <!-- Updated at -->
          <td>
            <%= render "shared/relative_timestamp",
            timestamp: mr.updatedAt,
            most_significant_only: true %>
          </td>
          <!-- Workflow Labels -->
          <td>
            <%= render partial: "gitlab_label",
            spacer_template: "space",
            collection: mr.contextualLabels,
            as: :label %>
          </td>
          <!-- Title -->
          <td>
            <%= render partial: "user_avatar", collection: mr.assignees.nodes, as: :user %>
            <%= link_to mr.titleHtml, mr.webUrl, target: "_blank" %>

            <div style="max-width: 26em">
              <%= render "branch_relation",
              source_branch: mr.sourceBranch,
              target_branch: mr.targetBranch %>
            </div>
          </td>
          <% if any_milestones %>
            <!-- Milestone -->
            <td class="text-end">
              <% if mr.milestone %>
                <% div_class = milestone_class(mr) %>
                <%= tag.div class: div_class,
                    data: {
                      bs_toggle: "tooltip",
                      bs_title: milestone_mismatch_tooltip(mr),
                    } do %>
                  <%= render("info_symbol") if div_class %>
                  <%= render("milestone", milestone: mr.milestone) %>
                <% end %>
              <% end %>
            </td>
          <% end %>
          <!-- Issue -->
          <td>
            <%= render("issue_link", issue: mr.issue) %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if merged_merge_requests_count.positive? %>
  <div
    id="mergedChartContainer"
    style="height: 300px;"
    class="
      container-fluid d-flex justify-content-sm-center text-secondary mt-2 p-6
    "
  >
    <%= turbo_frame_tag params[:author],
    :merged_merge_requests_chart,
    loading: "lazy",
    src: merged_merge_requests_chart_path(merge_requests_controller_params) do %>
      <span class="d-flex align-items-center justify-content-center w-100 h-100">Initializing…</span>
    <% end %>
  </div>
<% end %>
