<script>
  var link = document.querySelector("link[rel~='icon']");
  if (!link) {
    link = document.createElement('link');
    link.rel = 'icon';
    document.head.appendChild(link);
  }
  link.href = "<%= make_full_url(@user.avatarUrl) %>";
</script>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
  crossorigin="anonymous"
></script>

<div class="container-fluid" style="margin:0 !important; padding:0 !important;">
  <nav class="navbar navbar-light bg-dark">
    <span class="navbar-brand mb-0 ms-1 h1 text-light">
      Merge Requests Dashboard for
      <img
        width="24"
        class="rounded float-left"
        src="<%= make_full_url(@user.avatarUrl) %>"
      />
      <%= link_to @user.username, @user.webUrl %>
    </span>
  </nav>

  <div class="table-responsive-sm">
    <table class="table table-hover table-sm" style="cursor: pointer;">
      <% any_conflicts = @open_merge_requests.any?(&:conflicts) %>

      <caption><%= @open_merge_requests.count %>
        open merge requests, updated <%= render 'partials/relative_timestamp', timestamp: @updated_at %>

      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Created</th>
          <th scope="col">Updated</th>
          <th scope="col">Status</th>
          <th scope="col"><i class="fa-solid fa-timeline"></i></th>
          <th scope="col">Title</th>
          <th scope="col"><i
              class="fa-solid fa-angles-down"
              data-bs-toggle="tooltip"
              data-bs-title="Squash?"
            ></i></th>
          <% if any_conflicts %>
            <th scope="col">Conflicts?</th>
          <% end %>
          <th scope="col"><i class="fa-regular fa-thumbs-up" title="Approvals"></i></th>
          <th scope="col"><i class="fa-solid fa-magnifying-glass"></i> Reviewers</th>
          <th scope="col">Associated Issue</th>
        </tr>
      </thead>

      <tbody>
        <% @open_merge_requests.each do |mr| %>
          <tr class="table-<%= mr.bootstrapClass[:row] %>">
            <!-- MR ID -->
            <th scope="row">
              <%= render 'partials/link', title: mr.reference, web_url: mr.webUrl %>
            </th>
            <!-- Created at -->
            <td>
              <%= render 'partials/relative_timestamp', timestamp: mr.createdAt, most_significant_only: true %>
            </td>
            <!-- Updated at -->
            <td>
              <% if mr.updatedAt %>
                <%= render 'partials/relative_timestamp', timestamp: mr.updatedAt, most_significant_only: true %>
              <% else %>
                N/A
              <% end %>
            </td>
            <!-- Merge status -->
            <td>
              <span class="badge bg-<%= mr.bootstrapClass[:mergeStatus] %>"><%= mr.detailedMergeStatus %></span>
              <% if mr.blockingMergeRequests&.visibleMergeRequests %>
                <% open_blockers =
                  mr
                    .blockingMergeRequests
                    .visibleMergeRequests
                    .filter { |blocker| blocker.state == "opened" }
                    .count %>

                <% if open_blockers.positive? %>
                  <abbr
                    class="text-danger"
                    data-bs-toggle="tooltip"
                    data-bs-title="This MR is blocked by <%= open_blockers %> merge requests"
                  ><i class="fa-solid fa-road-barrier"></i></abbr>
                <% end %>
              <% end %>
            </td>
            <!-- Pipeline -->
            <td>
              <nobr>
                <% if mr.headPipeline %>
                  <span class="badge badge-pill bg-<%= mr.bootstrapClass[:pipeline] %>">
                    <%= link_to humanized_enum(mr.headPipeline&.status) || "??",
                    mr.headPipeline&.webUrl,
                    class: "text-light",
                    target: "_blank" %>
                  </span>
                  <% if mr.headPipeline.failedJobs.count.to_i.positive? && mr.headPipeline.status != 'SUCCESS' %>
                    <abbr
                      class="text-warning"
                      data-bs-toggle="tooltip"
                      data-bs-title="One or more jobs have failed in the pipeline"
                    ><i class="fa-solid fa-triangle-exclamation"></i></abbr>
                  <% end %>
                  <% if mr.headPipeline.failureReason %>
                    <abbr
                      class="text-warning"
                      data-bs-toggle="tooltip"
                      data-bs-title="<%= mr.headPipeline.failureReason %>"
                    ><i class="fa-solid fa-comment-dots"></i></abbr>
                  <% end %>
                  <% if mr.headPipeline.startedAt %>
                    <% if mr.headPipeline.finishedAt.nil? %>
                      <%= render 'partials/relative_timestamp', timestamp: mr.headPipeline.startedAt %>
                    <% elsif mr.headPipeline.finishedAt < 8.hours.ago %>
                      <abbr
                        data-bs-toggle="tooltip"
                        data-bs-title="Pipeline too old, must be re-run before being merged"
                      >🥶</abbr>
                    <% end %>
                  <% end %>
                <% end %>

                <% if mr.autoMergeEnabled %>
                  <abbr data-bs-toggle="tooltip" data-bs-title="Auto-merge is enabled">🚀</abbr>
                <% end %>
              </nobr>

              <br/>

              <%= render 'partials/labels', labels: mr.labels.nodes %>
            </td>
            <!-- Title -->
            <td>
              <%= render partial: 'partials/user_avatar', collection: mr.assignees.nodes, as: :user %>

              <%= link_to mr.titleHtml, mr.webUrl, target: "_blank" %>

              <br/>

              <%= render 'partials/branch_ref', source_branch: mr.sourceBranch, target_branch: mr.targetBranch %>
            </td>
            <!-- Squash on merge -->
            <td class="text-center">
              <% if mr.squashOnMerge %>
                <abbr
                  class="text-success"
                  data-bs-toggle="tooltip"
                  data-bs-title="MR set to squash on merge"
                ><i class="fa-solid fa-angles-down"></i></abbr>
              <% end %>
            </td>
            <!-- Conflicts -->
            <% if any_conflicts %>
              <td class="text-center">
                <% if mr.conflicts %>
                  <abbr
                    class="text-danger"
                    data-bs-toggle="tooltip"
                    data-bs-title="MR branch has conflicts and should be rebased"
                  ><i class="fa-solid fa-burst"></i></abbr>
                <% end %>
              </td>
            <% end %>
            <!-- Approvals -->
            <td class="text-end">
              <% if mr.approved %>
                <span class="text-success"><i class="fa-regular fa-thumbs-up"></i></span>
              <% else %>
                <%= "#{mr.approvalsRequired - mr.approvalsLeft}/#{mr.approvalsRequired}" %>
              <% end %>
            </td>
            <!-- Reviewers -->
            <td>
              <%= render partial: 'partials/reviewer_badge', collection: mr.reviewers.nodes, as: :reviewer %>
            </td>
            <!-- Associated Issue -->
            <td scope="row">
              <% if mr.issue %>
                <%= render 'partials/link', title: "\##{mr.issue.iid}", web_url: mr.issue.webUrl,
                  kwattrs: {
                    "data-bs-toggle" => "tooltip", "data-bs-html" => "true", "data-bs-custom-class" => "x-wide-tooltip",
                    "data-bs-title" => mr.issue.titleHtml
                  } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <hr/>

    <table class="table table-hover table-sm" style="cursor: pointer;">
      <caption><%= @merged_merge_requests.count %>
        merged merge requests with open issues, updated <%= render 'partials/relative_timestamp', timestamp: @updated_at %>

      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Created</th>
          <th scope="col">Merged</th>
          <th scope="col">Labels</th>
          <th scope="col">Title</th>
          <th scope="col">Associated Issue</th>
        </tr>
      </thead>

      <tbody>
        <% @merged_merge_requests.each do |mr| %>
          <tr class="table-<%= mr.bootstrapClass[:row] %>">
            <!-- MR ID -->
            <th scope="row">
              <%= render 'partials/link', title: mr.reference, web_url: mr.webUrl %>
            </th>
            <!-- Created at -->
            <td>
              <%= render 'partials/relative_timestamp', timestamp: mr.createdAt, most_significant_only: true %>
            </td>
            <!-- Merged at -->
            <td>
              <% if mr.mergedAt %>
                <%= render 'partials/relative_timestamp', timestamp: mr.mergedAt, most_significant_only: true %>
                by <br/><%= render 'partials/user_badge', user: mr.mergeUser %>
              <% else %>
                N/A
              <% end %>
            </td>
            <!-- Labels -->
            <td>
              <span class="badge <%= mr.bootstrapClass[:label]%>"><%= mr.workflowLabel %></span>
            </td>
            <!-- Title -->
            <td>
              <%= render partial: 'partials/user_avatar', collection: mr.assignees.nodes, as: :user %>

              <%= link_to mr.titleHtml, mr.webUrl, target: "_blank" %>

              <br/>

              <%= render 'partials/branch_ref', source_branch: mr.sourceBranch, target_branch: mr.targetBranch %>
            </td>
            <!-- Associated Issue -->
            <td>
              <% if mr.issue %>
                <%= render 'partials/link', title: "\##{mr.issue.iid}", web_url: mr.issue.webUrl,
                  kwattrs: {
                    "data-bs-toggle" => "tooltip", "data-bs-html" => "true", "data-bs-custom-class" => "x-wide-tooltip",
                    "data-bs-title" => mr.issue.titleHtml
                  } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
