<script>
  var link = document.querySelector("link[rel~='icon']");
  if (!link) {
    link = document.createElement('link');
    link.rel = 'icon';
    document.head.appendChild(link);
  }
  link.href = "<%= make_full_url(@user.avatarUrl) %>";
</script>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
  integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
  crossorigin="anonymous"
></script>

<div class="container-fluid" style="margin:0 !important; padding:0 !important;">
  <nav class="navbar navbar-light bg-dark">
    <span class="navbar-brand mb-0 ms-1 h1 text-light">
      Merge Requests Dashboard for
      <img
        width="24"
        class="rounded float-left"
        src="<%= make_full_url(@user.avatarUrl) %>"
      />
      <%= link_to @user.username, @user.webUrl %>
    </span>
  </nav>

  <div class="table-responsive-sm">
    <table class="table table-hover table-sm" style="cursor: pointer;">
      <% any_conflicts = @authored_merge_requests.any? { |mr| mr.conflicts } %>

      <caption><%= @authored_merge_requests.count %>
        merge requests, updated
        <abbr data-bs-toggle="tooltip" data-bs-title="<%= @updated_at %>"><%= humanized_duration(Time.now - @updated_at) %></abbr></caption>

      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Created</th>
          <th scope="col">Updated</th>
          <th scope="col">Status</th>
          <th scope="col"><i class="fa-solid fa-timeline"></i></th>
          <th scope="col"><i
              class="fa-solid fa-angles-down"
              data-bs-toggle="tooltip"
              data-bs-title="Squash?"
            ></i></th>
          <% if any_conflicts %>
            <th scope="col">Conflicts?</th>
          <% end %>
          <th scope="col">Title</th>
          <th scope="col"><i class="fa-regular fa-thumbs-up" title="Approvals"></i></th>
          <th scope="col"><i class="fa-solid fa-magnifying-glass"></i>
            Reviewers</th>
          <th scope="col"><i class="fa-solid fa-code-branch"></i>
            Source branch</th>
        </tr>
      </thead>

      <tbody>
        <% @authored_merge_requests.each do |mr| %>
          <% pipeline_class = mr.bootstrapClass[:pipeline] %>
          <% mr_status_class = mr.bootstrapClass[:mergeStatus] %>

          <tr class="table-<%= pipeline_class %>">
            <!-- MR ID -->
            <th scope="row">
              <%= link_to mr.reference, mr.webUrl, target: "_blank" %>
            </th>
            <!-- Created at -->
            <td>
              <abbr data-bs-toggle="tooltip" data-bs-title="<%= mr.createdAt %>"><%= humanized_duration(Time.current - mr.createdAt, most_significant_only: true) %></abbr>
            </td>
            <!-- Updated at -->
            <td>
              <% if mr.updatedAt %>
                <abbr data-bs-toggle="tooltip" data-bs-title="<%= mr.updatedAt %>"><%= humanized_duration(Time.current - mr.updatedAt, most_significant_only: true) %></abbr>
              <% else %>
                N/A
              <% end %>
            </td>
            <!-- Merge status -->
            <td>
              <span class="badge bg-<%= mr_status_class %> badge-<%= mr_status_class %>"><%= mr.detailedMergeStatus %></span>
            </td>
            <!-- Pipeline -->
            <td>
              <nobr>
                <span
                  class="
                    badge badge-pill bg-<%= pipeline_class %>
                    badge-<%= pipeline_class %>
                  "
                >
                  <%= link_to mr.headPipeline.status || "??",
                  make_full_url(mr.headPipeline.path),
                  class: "text-light",
                  target: "_blank" %>
                </span>
                <% if mr.headPipeline.failedJobs.count.to_i.positive? && mr.headPipeline.status != 'Success' %>
                  <abbr
                    class="text-warning"
                    data-bs-toggle="tooltip"
                    data-bs-title="One or more jobs have failed in the pipeline"
                  ><i class="fa-solid fa-triangle-exclamation"></i></abbr>
                <% end %>
                <% if mr.headPipeline.startedAt && mr.headPipeline.finishedAt.nil? %>
                  <%= humanized_duration(Time.current - mr.headPipeline.startedAt) %>
                <% end %>
                <% if mr.headPipeline.finishedAt < 8.hours.ago %>
                  <abbr
                    data-bs-toggle="tooltip"
                    data-bs-title="Pipeline too old, must be re-run before being merged"
                  >🥶</abbr>
                <% end %>

                <% if mr.autoMergeEnabled %>
                  <abbr data-bs-toggle="tooltip" data-bs-title="Auto-merge is enabled">🚀</abbr>
                <% end %>
              </nobr>

              <br/>

              <% mr.labels.nodes.each do |label| %>
                <span class="badge bg-primary text-light"><%= label.title %></span>
              <% end %>
            </td>
            <!-- Squash on merge -->
            <td class="text-center">
              <% if mr.squashOnMerge %>
                <abbr
                  class="text-success"
                  data-bs-toggle="tooltip"
                  data-bs-title="MR set to squash on merge"
                ><i class="fa-solid fa-angles-down"></i></abbr>
              <% end %>
            </td>
            <!-- Conflicts -->
            <% if any_conflicts %>
              <td class="text-center">
                <% if mr.conflicts %>
                  <abbr
                    class="text-danger"
                    data-bs-toggle="tooltip"
                    data-bs-title="MR branch has conflicts and should be rebased"
                  ><i class="fa-solid fa-burst"></i></abbr>
                <% end %>
              </td>
            <% end %>
            <!-- Title -->
            <td>
              <span>
                <% mr.assignees.nodes.each do |assignee| %>
                  <a href="<%= assignee.webUrl %>" target="_blank"><img
                      width="16"
                      class="rounded float-left"
                      src="<%= make_full_url(assignee.avatarUrl) %>"
                    /></a>
                <% end %>
              </span>

              <%= link_to mr.titleHtml, mr.webUrl, target: "_blank" %>
            </td>
            <!-- Approvals -->
            <td class="text-end">
              <% if mr.approved %>
                <span class="text-success"><i class="fa-regular fa-thumbs-up"></i></span>
              <% else %>
                <%= "#{mr.approvalsRequired - mr.approvalsLeft}/#{mr.approvalsRequired}" %>
              <% end %>
              <% mr.reviewers.nodes.each do |reviewer| %>
                <span
                  class="badge bg-light"
                  data-bs-toggle="tooltip"
                  data-bs-custom-class="wide-tooltip"
                  data-bs-html="true"
                  data-bs-title="<%= reviewer_help_title(reviewer) %>"
                >
                  <img
                    width="16"
                    class="rounded float-left"
                    src="<%= make_full_url(reviewer.avatarUrl) %>"
                  />
                  <%= link_to reviewer.username, reviewer.webUrl, target: "_blank" %>
                  <% if reviewer.status&.availability == "BUSY" %>
                    <abbr
                      class="float-right"
                      data-bs-toggle="tooltip"
                      data-bs-title="<%= reviewer.status&.availability %>"
                    >🔴</abbr>
                  <% end %>
                  <span class="float-right text-<%= reviewer.bootstrapClass[:text] %>">
                    <abbr
                      data-bs-toggle="tooltip"
                      data-bs-title="<%= reviewer.mergeRequestInteraction.reviewState %>"
                    >
                      <i class="<%= reviewer.bootstrapClass[:icon] %>"></i>
                    </abbr>
                    <% if reviewer.bootstrapClass[:activity_icon] %>
                      <abbr
                        data-bs-toggle="tooltip"
                        data-bs-title="User has been inactive for more than 1 day"
                      >
                        <i class="<%= reviewer.bootstrapClass[:activity_icon] %>"></i>
                      </abbr>
                    <% end %>
                  </span>
                </span>
              <% end %>
            </td>
            <!-- Reviewers -->
            <td>
              <% mr.reviewers.nodes.each do |reviewer| %>
                <span
                  class="badge bg-light"
                  data-bs-toggle="tooltip"
                  data-bs-custom-class="wide-tooltip"
                  data-bs-html="true"
                  data-bs-title="<%= reviewer_help_title(reviewer) %>"
                >
                  <img
                    width="16"
                    class="rounded float-left"
                    src="<%= make_full_url(reviewer.avatarUrl) %>"
                  />
                  <%= link_to reviewer.username, reviewer.webUrl, target: "_blank" %>
                  <% if reviewer.status&.availability == "BUSY" %>
                    <abbr
                      class="float-right"
                      data-bs-toggle="tooltip"
                      data-bs-title="<%= reviewer.status&.availability %>"
                    >🔴</abbr>
                  <% end %>
                  <span class="float-right text-<%= reviewer.bootstrapClass[:text] %>">
                    <abbr
                      data-bs-toggle="tooltip"
                      data-bs-title="<%= reviewer.mergeRequestInteraction.reviewState %>"
                    >
                      <i class="<%= reviewer.bootstrapClass[:icon] %>"></i>
                    </abbr>
                    <% if reviewer.bootstrapClass[:activity_icon] %>
                      <i class="<%= reviewer.bootstrapClass[:activity_icon] %>"></i>
                    <% end %>
                  </span>
                </span>
              <% end %>
            </td>
            <!-- Source branch -->
            <td>
              <nobr>
                <i class="fa-solid fa-code-branch"></i>
                <span><%= mr.sourceBranch %></span>
              </nobr>
              <% if %w[master main].exclude?(mr.targetBranch) %>
                <br/>
                <nobr>
                  <i class="fa-solid fa-arrow-right text-success"></i>&nbsp;<i class="fa-solid fa-code-branch"></i>
                  <span><%= mr.targetBranch %></span>
                </nobr>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
