<div class="container">
  <h1>Merge Requests Dashboard</h1>
  <p><%= @authored_merge_requests.count %> merge requests</p>
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Reviewers</th>
        </tr>
      </thead>

      <tbody>
        <% @authored_merge_requests.each do |mr| %>
          <tr
            <% pipeline_status = mr['headPipeline']['status'] %>
            <% if pipeline_status == 'FAILED' %>
              class="table-warning"
            <% elsif pipeline_status == 'SUCCESS' %>
              class="table-success"
            <% elsif pipeline_status == 'RUNNING' %>
              class="table-active"
            <% end %>
          >
            <th scope="row">
              <a href="<%= mr['webUrl'] %>">
                <%= mr['reference'] %>
                <span class="badge badge-pill badge-danger"><%= pipeline_status %></span>
              </a>
            </td>
            <td>
              <a href="<%= mr['webUrl'] %>"><%= mr['titleHtml'] %></a>
            </td>
            <td>
              <% reviewers = mr['reviewers']['nodes']; reviewers.each_with_index do |reviewer, index| %>
                <a href="<%= reviewer['webUrl'] %>">
                  <%= reviewer['username'] %>
                </a>
                <%= index < reviewers.count - 1 ? ', ': '' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
