<script>
  var link = document.querySelector("link[rel~='icon']");
  if (!link) {
    link = document.createElement('link');
    link.rel = 'icon';
    document.head.appendChild(link);
  }
  link.href = "<%= make_full_url(@user.avatarUrl) %>";
</script>

<div class="container-fluid" style="margin:0 !important; padding:0 !important;">
  <nav class="navbar navbar-light bg-dark">
    <span class="navbar-brand mb-0 ms-1 h1 text-light">
      Merge Requests Dashboard for
        <img width=24 class="rounded float-left" src="<%= make_full_url(@user.avatarUrl) %>" />
        <%= link_to @user.username, @user.webUrl %>
    </span>
  </nav>

  <div class="table-responsive-sm">
    <table class="table table-hover table-sm" style="cursor: pointer;">
      <% any_conflicts = @authored_merge_requests.any? { |mr| mr.conflicts } %>

      <caption><%= @authored_merge_requests.count %></span> merge requests, updated <abbr title="<%= @updated_at %>"><%= humanized_duration(Time.now - @updated_at) %></abbr></caption>

      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Created</th>
          <th scope="col">Updated</th>
          <th scope="col">Status</th>
          <th scope="col"><i class="fa-solid fa-timeline"></i></th>
          <th scope="col"><i class="fa-solid fa-angles-down" title="Squash?"></i></th>
          <% if any_conflicts %>
            <th scope="col">Conflicts?</th>
          <% end %>
          <th scope="col">Title</th>
          <th scope="col"><i class="fa-regular fa-thumbs-up" title="Approvals"></i></th>
          <th scope="col"><i class="fa-solid fa-magnifying-glass"></i> Reviewers</th>
          <th scope="col"><i class="fa-solid fa-code-branch"></i> Source branch</th>
        </tr>
      </thead>

      <tbody>
        <% @authored_merge_requests.each do |mr| %>
          <% pipeline_class = mr.bootstrapClass[:pipeline] %>
          <% mr_status_class = mr.bootstrapClass[:mergeStatus] %>

          <tr class="table-<%= pipeline_class %>">
            <th scope="row"> <!-- MR ID -->
              <%= link_to mr.reference, mr.webUrl, target: "_blank" %>
            </th>

            <td> <!-- Created at -->
              <abbr title="<%= mr.createdAt %>"><%= humanized_duration(Time.current - mr.createdAt, most_significant_only: true) %></abbr>
            </td>

            <td> <!-- Updated at -->
              <% if mr.updatedAt %>
                <abbr title="<%= mr.updatedAt %>"><%= humanized_duration(Time.current - mr.updatedAt, most_significant_only: true) %></abbr>
              <% else %>
                N/A
              <% end %>
            </td>

            <td> <!-- Merge status -->
              <span class="badge bg-<%= mr_status_class %> badge-<%= mr_status_class %>"><%= mr.detailedMergeStatus %></span>
            </td>

            <td> <!-- Pipeline -->
              <nobr>
                <span class="badge badge-pill bg-<%= pipeline_class %> badge-<%= pipeline_class %>">
                  <%= link_to mr.headPipeline.status || '??', make_full_url(mr.headPipeline.path), class: "text-light", target: "_blank" %>
                </span>
                <% if mr.headPipeline.failedJobs.count.to_i.positive? && mr.headPipeline.status != 'Success' %>
                  <abbr class="text-warning" title="One or more jobs have failed in the pipeline"><i class="fa-solid fa-triangle-exclamation"></i></abbr>
                <% end %>
                <% if mr.headPipeline.startedAt && mr.headPipeline.finishedAt.nil? %>
                  <%= humanized_duration(Time.current - mr.headPipeline.startedAt) %>
                <% end %>
                <% if mr.headPipeline.finishedAt < 8.hours.ago %>
                  <abbr title="Pipeline too old, must be re-run before being merged">🥶</abbr>
                <% end %>

                <% if mr.autoMergeEnabled %>
                  <abbr title="Auto-merge is enabled">🚀</abbr>
                <% end %>
              <nobr>

              <br/>

              <% mr.labels.nodes.each do |label| %>
                <span class="badge bg-primary text-light"><%= label.title %></span>
              <% end %>
            </td>

            <td class="text-center"> <!-- Squash on merge -->
              <% if mr.squashOnMerge %>
                <abbr class="text-success" title="MR set to squash on merge"><i class="fa-solid fa-angles-down"></i></abbr>
              <% end %>
            </td>

            <% if any_conflicts %>
              <td class="text-center"> <!-- Conflicts -->
                <% if mr.conflicts %>
                  <abbr class="text-danger" title="MR branch has conflicts and should be rebased"><i class="fa-solid fa-burst"></i></abbr>
                <% end %>
              </td>
            <% end %>

            <td> <!-- Title -->
              <span>
                <% mr.assignees.nodes.each do |assignee| %>
                  <a href="<%= assignee.webUrl %>" target="_blank"><img width=16 class="rounded float-left" src="<%= make_full_url(assignee.avatarUrl) %>" /></a>
                <% end %>
              </span>

              <%= link_to mr.titleHtml, mr.webUrl, target: "_blank" %>
            </td>

            <td class="text-end"> <!-- Approvals -->
              <% if mr.approved %>
                <span class="text-success"><i class="fa-regular fa-thumbs-up"></i></span>
              <% else %>
                <%= "#{mr.approvalsRequired - mr.approvalsLeft}/#{mr.approvalsRequired}" %>
              <% end %>
              <% mr.reviewers.nodes.each do |reviewer| %>
                <span class="badge bg-light" title="<%= reviewer_help_title(reviewer) %>">
                  <img width=16 class="rounded float-left" src="<%= make_full_url(reviewer.avatarUrl) %>" />
                  <%= link_to reviewer.username, reviewer.webUrl, target: "_blank" %>
                  <% if reviewer.status&.availability == "BUSY" %>
                    <abbr class="float-right" title="<%= reviewer.status&.availability %>">🔴</abbr>
                  <% end %>
                  <span class="float-right text-<%= reviewer.bootstrapClass[:text] %>">
                    <abbr title="<%= reviewer.mergeRequestInteraction.reviewState %>">
                      <i class="<%= reviewer.bootstrapClass[:icon] %>"></i>
                    </abbr>
                    <% if reviewer.bootstrapClass[:activity_icon] %>
                      <i class="<%= reviewer.bootstrapClass[:activity_icon] %>"></i>
                    <% end %>
                  </span>
                </span>
              <% end %>
            </td>

            <td> <!-- Reviewers -->
              <% mr.reviewers.nodes.each do |reviewer| %>
                <span class="badge bg-light" title="<%= reviewer_help_title(reviewer) %>">
                  <img width=16 class="rounded float-left" src="<%= make_full_url(reviewer.avatarUrl) %>" />
                  <%= link_to reviewer.username, reviewer.webUrl, target: "_blank" %>
                  <% if reviewer.status&.availability == "BUSY" %>
                    <abbr class="float-right" title="<%= reviewer.status&.availability %>">🔴</abbr>
                  <% end %>
                  <span class="float-right text-<%= reviewer.bootstrapClass[:text] %>">
                    <abbr title="<%= reviewer.mergeRequestInteraction.reviewState %>">
                      <i class="<%= reviewer.bootstrapClass[:icon] %>"></i>
                    </abbr>
                    <% if reviewer.bootstrapClass[:activity_icon] %>
                      <i class="<%= reviewer.bootstrapClass[:activity_icon] %>"></i>
                    <% end %>
                  </span>
                </span>
              <% end %>
            </td>

            <td> <!-- Source branch -->
              <nobr>
                <i class="fa-solid fa-code-branch"></i> <span><%= mr.sourceBranch %></span>
              </nobr>
              <% if %w[master main].exclude?(mr.targetBranch) %>
                <br/>
                <nobr>
                  <i class="fa-solid fa-arrow-right text-success"></i>&nbsp;<i class="fa-solid fa-code-branch"></i> <span><%= mr.targetBranch %></span>
                </nobr>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
