<% content_for(:title) { "GitLab MR Dashboard" } %>

<% vapid_public_key =
  Rails.application.credentials.dig(:webpush, :vapid_public_key) %>
<% if vapid_public_key.present? %>
  <%= tag.meta name: "web_push_public_key",
           content: Base64.urlsafe_decode64(vapid_public_key).bytes.to_s %>
<% end %>

<%# Subscribe to real-time Turbo Stream updates for this user %>
<%= turbo_stream_from merge_request_stream_name(@user, :open) %>
<%= turbo_stream_from merge_request_stream_name(@user, :merged) %>

<%= tag.div class: "container-fluid m-0 p-0", data: {
    controller: "web-push heartbeat",
    web_push_unsubscribed_class: "d-initial",
    web_push_subscribed_class: "d-none"
  } do %>
  <%= link_to "Skip to main content", "#main-content", class: "skip-link" %>

  <% nav_bg_class = Rails.env.production? ? %w[] : %w[bg-danger] %>

  <%= tag.nav class: %w[navbar bg-body bg-gradient navbar-expand-sm fixed-top px-3] + nav_bg_class do %>
    <% if params.include?(:referrer) %>
      <%= link_to(safe_url(params[:referrer]), class: %w[btn mx-2 text-light]) do %>
        <%= tag.i class: %w[fa-solid fa-home] %>
      <% end %>
    <% end %>

    <% links = Rails.application.config.merge_requests&.dig(:dashboard, :links) %>
    <%= render "shared/links_button", links: links %>

    <div
      class="navbar-brand text-light d-flex align-items-center m-auto"
      data-controller="bootstrap-tooltip"
    >
      <%= tag.span class: "mb-0 ms-2 text-body fw-lighter d-flex flex-grow-1 justify-content-center" do %>
        <span class="d-sm-none me-2">
          <%= render "shared/user_image", user: @user, size: 24 %>
        </span>
        Merge Requests Dashboard
        <span class="collapse navbar-collapse">
          &nbsp;for&nbsp;
          <% user_presenter = UserPresenter.new(@user, self) %>
          <%= render "shared/user_badge", user: @user, user_presenter: user_presenter, content: user_presenter.help_content, size: 24 %>
        </span>
      <% end %>

      <%= tag.button(
        class: %w[btn mx-2],
        data: {
          bs_toggle: "tooltip",
          bs_title: "Subscribe to web push notifications for MR events, such as MR merged, or workflow label changes",
          web_push_target: "subscribe",
          action: "web-push#subscribe"
        },
      ) do %>
        <%= tag.i class: %w[fa-solid fa-bell] %>
      <% end %>
    </div>

    <%= render "shared/navbar_right_section" %>
  <% end %>

  <%= tag.div(id: "main-content", class: %w[align-middle p-1 p-sm-3 mx-auto mt-3 mt-sm-4], style: "width: fit-content;") do %>
    <%= tag.div(id: "open_merge_requests", class: mr_list_panel_classes + %w[bg-body mt-5], data: { controller: "turbo-frame-focus" }) do %>
      <%= turbo_frame_tag @dto, :open_merge_requests, src: open_merge_requests_list_path(merge_requests_controller_params), data: { turbo_frame_focus_target: "frame" } do %>
        <% if @dto.has_content? %>
          <!-- Show last stored state, while we wait for the refreshed state
          -->
          <%= render "open_merge_requests",
          merge_requests_dto: @dto.open_merge_requests,
          updated_at: @dto.updated_at,
          next_update_at: @dto.next_update_at,
          request_duration: @dto.request_duration %>
        <% else %>
          <%= tag.div(class: "d-flex align-items-center justify-content-center p-3 w-100 h-100") do %>
            <span
              class="spinner-border me-3 d-none d-sm-inline"
              role="status"
              aria-hidden="true"
            ></span>
            <span>Loading open merge requests…</span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= tag.div(id: "merged_merge_requests", class: mr_list_panel_classes + %w[bg-tertiary mt-3 mt-sm-5 bg-opacity-10], data: { controller: "turbo-frame-focus" }) do %>
      <%= turbo_frame_tag(@dto, :merged_merge_requests, loading: "lazy", src: merged_merge_requests_list_path(merge_requests_controller_params), data: { turbo_frame_focus_target: "frame" }) do %>
        <%= tag.div(class: "d-flex align-items-center justify-content-center p-3 w-100 h-100") do %>
          <span
            class="spinner-border me-3 d-none d-sm-inline"
            role="status"
            aria-hidden="true"
          ></span>
          <span>Loading merged merge requests…</span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
