<% vapid_public_key = Rails.application.credentials.dig(:webpush, :vapid_public_key) %>
<% if vapid_public_key.present? %>
  <meta
    name="web_push_public_key"
    content="<%= Base64.urlsafe_decode64(vapid_public_key).bytes %>"
  />
<% end %>

<div class="container-fluid m-0 p-0" data-controller="web-push">
  <nav class="navbar navbar-light bg-dark navbar-expand-sm fixed-top px-3">
    <div
      class="navbar-brand text-light d-flex align-items-center m-auto"
      data-controller="bootstrap-tooltip"
    >
      <%= button_to tag.i(class: %w[fa-solid fa-rotate]),
      merge_requests_path(assignee: @user.username),
      method: :get,
      class: %w[btn mx-2 text-light d-sm-none] %>

      <span class="mb-0 ms-2 d-flex fw-lighter flex-grow-1 justify-content-center">
        <span class="d-sm-none me-2">
          <%= render "user_image", user: @user, size: 24 %>
        </span>
        Merge Requests Dashboard
        <span class="collapse navbar-collapse">
          &nbsp;for&nbsp;
          <%= render "user_image", user: @user, size: 24 %>&nbsp;
          <%= link_to @user.username, @user.webUrl, class: "fw-light" %>
        </span>
      </span>

      <%= tag.button(
        class: %w[btn mx-2 text-light],
        data: {
          bs_toggle: "tooltip",
          bs_title: "Subscribe to web push notifications for MR events, such as MR merged, or workflow label changes",
          web_push_target: "subscribe",
          action: "web-push#subscribe"
        },
      ) do %>
        <%= tag.i class: %w[fa-solid fa-bell] %>
      <% end %>
    </div>

    <%= link_to tag.i(class: %w[fa-brands fa-github]),
    git_repo_url,
    class: "text-light",
    target: "_blank" %>
  </nav>

  <%= turbo_frame_tag @dto, :merge_requests,
    src: merge_requests_list_path(assignee: params[:assignee], turbo: true) do %>
    <div
      class="
        shadow rounded p-4 mb-5 bg-body bg-gradient text-body position-absolute top-50
        start-50 translate-middle d-flex justify-content-center align-items-center
      "
    >
      <div class="spinner-border me-3" role="status" aria-hidden="true"></div>
      <div>
        <span>Loading merge requests…</span>
        <% if @dto.has_content? %>
          <span>(last fetched
            <%= render("shared/relative_timestamp", timestamp: @dto.updated_at) -%>)</span>
        <% end %>
      </div>
    </div>

    <% if @dto.has_content? %>
      <!-- Show last stored state, while we wait for the refreshed state -->
      <%= render "user_merge_requests",
      updated_at: @dto.updated_at,
      next_update_at: @dto.next_update_at,
      request_duration: @dto.request_duration,
      open_merge_requests: @dto.open_merge_requests,
      merged_merge_requests: @dto.merged_merge_requests,
      merged_merge_requests_count: @dto.merged_merge_requests_count,
      merged_merge_requests_tttm: @dto.merged_merge_requests_tttm,
      first_merged_merge_requests_timestamp:
        @dto.first_merged_merge_requests_timestamp %>
    <% end %>
  <% end %>
</div>
