<% content_for(:title) { "Admin Dashboard" } %>

<div
  data-controller="bootstrap-tooltip"
  class="container my-3 shadow rounded p-4 bg-body bg-gradient text-body"
>
  <table class="table table-hover">
    <caption class="caption-top">Active Users</caption>

    <thead class="thead-dark">
      <tr>
        <th scope="col">User Handle</th>
        <th scope="col">Created</th>
        <th scope="col">Last Contacted ↓</th>
        <th scope="col">Scheduled Update</th>
      </tr>
    </thead>
    <tbody>
      <% @recent_users.each do |user| %>
        <% one_time_visitor = user.contacted_at - user.created_at < CacheConcern::MR_CACHE_VALIDITY %>
        <% fg_class = one_time_visitor ? %w[text-secondary] : nil %>

        <%= tag.tr style: "cursor: pointer;" do %>
          <%= tag.th scope: "row" do %>
            <%= link_to user.username, merge_requests_path(assignee: user.username), class: fg_class %>
          <% end %>
          <%= tag.td class: fg_class do %>
            <%= render "shared/relative_timestamp", timestamp: user.created_at %>
          <% end %>
          <%= tag.td class: fg_class do %>
            <%= render "shared/relative_timestamp", timestamp: user.contacted_at %>
          <% end %>
          <%= tag.td class: fg_class do %>
            <%= render "shared/relative_timestamp", timestamp: user_cache_validity(user.username) %>
          <% end %>
        <% end %>

        <% if user.web_push_subscriptions.any? %>
          <tr>
            <td colspan="4" class="px-5">
              <table class="table table-hover">
                <caption class="caption-top">Web Push Subscriptions</caption>

                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Created ↓</th>
                    <th scope="col">Notified</th>
                    <th scope="col">User Agent</th>
                  </tr>
                </thead>
                <tbody>
                  <% user.web_push_subscriptions.each do |subscription| %>
                    <tr style="cursor: pointer;">
                      <td>
                        <%= render "shared/relative_timestamp", timestamp: subscription.created_at %>
                      </td>
                      <td>
                        <%= render "shared/relative_timestamp", timestamp: subscription.notified_at %>
                      </td>
                      <td>
                        <%= tag.code subscription.user_agent %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div
  data-controller="bootstrap-tooltip"
  class="
    container my-3 d-flex flex-row-reverse column-gap-3 align-items-baseline
  "
>
  <p class="lead">
    Booted
    <%= render "shared/relative_timestamp", timestamp: boot_timestamp %>
  </p>

  <div class="btn btn-secondary">
    <%= link_to "Jobs", mission_control_jobs_path, class: "text-white" %>
  </div>
</div>
