<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "GitLab Dashboard" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <%= favicon_link_tag asset_path("favicon.png"), rel: "icon", type: "image/png" %>
    <% %w[57 72 76 114 120 144 152 180].each do |size| %>
      <%= favicon_link_tag asset_path("apple-touch-icon-#{size}x#{size}.png"),
      rel: "apple-touch-icon",
      type: "image/png",
      sizes: "#{size}x#{size}" %>
    <% end %>
    <%= stylesheet_link_tag :application,
    "data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css",
    "data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= javascript_include_tag :application,
    "data-turbo-track": Rails.env.production? ? "reload" : "",
    type: "module" %>
  </head>
  <!-- Google tag (gtag.js) -->
  <% if ENV["GOOGLE_TAG_MEASUREMENT_ID"].present? %>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GOOGLE_TAG_MEASUREMENT_ID"] %>"
    ></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= ENV["GOOGLE_TAG_MEASUREMENT_ID"] %>');
    </script>
  <% end %>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>

  <body class="bg-body bg-gradient min-vh-100" data-controller="theme-selector">
    <%= yield %>
  </body>
</html>
